In [47]:
import pandas as pd
import MySQLdb

In [48]:
db = MySQLdb.connect(
'localhost',
'root',
'1234',
charset = 'utf8')

In [49]:
cursor = db.cursor()

In [50]:
sql = '''
show databases;
'''

cursor.execute(sql)

15

In [51]:
cursor.fetchall()

(('information_schema',),
 ('budongsan',),
 ('company',),
 ('compressdb',),
 ('employees',),
 ('mysql',),
 ('mytestdb',),
 ('performance_schema',),
 ('sakila',),
 ('shopdb',),
 ('sqldb',),
 ('sys',),
 ('testdb',),
 ('webdb',),
 ('world',))

In [53]:
# 데이터베이스 생성 - budongsan

sql = '''
create database budongsan;
'''
cursor.execute(sql)

ProgrammingError: (1007, "Can't create database 'budongsan'; database exists")

In [54]:
sql = '''
show databases;
'''
cursor.execute(sql)

15

In [55]:
cursor.fetchall()

(('information_schema',),
 ('budongsan',),
 ('company',),
 ('compressdb',),
 ('employees',),
 ('mysql',),
 ('mytestdb',),
 ('performance_schema',),
 ('sakila',),
 ('shopdb',),
 ('sqldb',),
 ('sys',),
 ('testdb',),
 ('webdb',),
 ('world',))

In [56]:
db = MySQLdb.connect(
'localhost',
    'root',
    '1234',
    'budongsan',
    charset='utf8'
)

In [57]:
# name, addr height, email

In [58]:
sql = '''
use budongsan;
'''
cursor.execute(sql)

0

In [59]:
sql = '''
create table mytable(
name varchar(20),
addr varchar(20),
height int,
email varchar(20)
);
'''

In [60]:
cursor.execute(sql)

OperationalError: (1050, "Table 'mytable' already exists")

In [63]:
sql = '''
insert into mytable values('민금란', '성남시', 160, 'min@gmail.com');
'''
cursor.execute(sql)

1

In [65]:
sql = '''
select * from mytable;
'''
cursor.execute(sql)
cursor.fetchall()

(('민금란', '성남시', 160, 'min@gmail.com'),)

In [71]:
df = pd.read_csv('budongsan.csv')
df.head()

,Unnamed: 0,매물번호,연락처,주소,부동산,보증금,월세
0,0,3467204.0,010-123-4567,서울시 강남구 역삼동 0,TODAY공인중개사(이인규),1000.0,100.0
1,1,3150497.0,010-123-4567,서울시 강남구 역삼동 1,TODAY공인중개사(이인규),11000.0,60.0
2,2,3440906.0,010-123-4567,서울시 강남구 역삼동 2,열린공인중개사(강광수),5000.0,65.0
3,3,3376834.0,010-123-4567,서울시 강남구 역삼동 3,미래공인중개사(김유철),3000.0,95.0
4,4,3331511.0,010-123-4567,서울시 강남구 역삼동 4,한백부동산공인중개사(김남조),110.0,110.0

In [84]:
df = del df[0]

SyntaxError: invalid syntax (<ipython-input-84-35b844ac6830>, line 1)

In [102]:
sql = '''
drop table if exists pjtable;
'''
cursor.execute(sql)

0

In [103]:
sql = '''
create table pjtable(
phone varchar(225),
addr varchar(225),
agent varchar(225),
deposit int,
rent int
);
'''
cursor.execute(sql)

0

In [87]:
sql = '''
show tables;
'''
cursor.execute(sql)

2

In [88]:
cursor.fetchall()

(('mytable',), ('pjtable',))

In [89]:
sql= '''
load data local infile "budongsan.csv" into table pjtable;
'''
cursor.execute(sql)

42

In [106]:

pjtable = pd.read_sql('select * from customer', db)
pjtable.head()

DatabaseError: Execution failed on sql 'select * from customer': (1146, "Table 'budongsan.customer' doesn't exist")

In [107]:
for i in range(len(df)):
    phone = df.iloc[i][2]
    addr = df.iloc[i][3]
    agent = df.iloc[i][4]
    deposit = df.iloc[i][5]
    rent = df.iloc[i][6]
    
    sql = '''
    insert into pjtable values('{}', '{}', '{}', {}, {});
    '''.format(phone, addr, agent, deposit, rent)
    
    cursor.execute(sql)
    db.commit()

In [109]:
sql = 'select * from pjtable;'

cursor.execute(sql)
cursor.fetchall()

(('010-123-4567', '서울시 강남구 역삼동 0', 'TODAY공인중개사(이인규)', 1000, 100),
 ('010-123-4567', '서울시 강남구 역삼동 1', 'TODAY공인중개사(이인규)', 11000, 60),
 ('010-123-4567', '서울시 강남구 역삼동 2', '열린공인중개사(강광수)', 5000, 65),
 ('010-123-4567', '서울시 강남구 역삼동 3', '미래공인중개사(김유철)', 3000, 95),
 ('010-123-4567', '서울시 강남구 역삼동 4', '한백부동산공인중개사(김남조)', 110, 110),
 ('010-123-4567', '서울시 강남구 역삼동 5', '강남코리아공인중개사(기숙영)', 15000, 70),
 ('010-123-4567', '서울시 강남구 역삼동 6', '열린공인중개사(강광수)', 1000, 85),
 ('010-123-4567', '서울시 강남구 역삼동 7', '한강공인중개사(김상헌)', 1000, 80),
 ('010-123-4567', '서울시 강남구 역삼동 8', '동하공인중개사(임성우)', 1000, 60),
 ('010-123-4567', '서울시 강남구 역삼동 9', '스타공인중개사(박정직)', 2000, 50),
 ('010-123-4567', '서울시 강남구 역삼동 10', 'HS강남공인중개사(김현수)', 1000, 96),
 ('010-123-4567', '서울시 강남구 역삼동 11', 'H공인중개사(김용만)', 15000, 70),
 ('010-123-4567', '서울시 강남구 역삼동 12', '도원공인중개사(손석진)', 65, 65),
 ('010-123-4567', '서울시 강남구 역삼동 13', '강남우리공인중개사(어정화)', 2000, 150),
 ('010-123-4567', '서울시 강남구 역삼동 14', '청록공인중개사(하순자)', 3000, 60),
 ('010-123-4567', '서울시 강남구 역삼동 15', '커피한잔공인중개사(손별)', 500, 67),
 ('010-123-4567', '서울시 강남구 역삼동 16', '강남코리아공인중개사(기숙영)', 15000, 60),
 ('010-123-4567', '서울시 강남구 역삼동 17', 'TODAY공인중개사(이인규)', 5000, 50),
 ('010-123-4567', '서울시 강남구 역삼동 18', '나무공인중개사(조민영)', 90, 90),
 ('010-123-4567', '서울시 강남구 역삼동 19', '한강공인중개사(김상헌)', 300, 80),
 ('010-123-4567', '서울시 강남구 역삼동 20', 'TODAY공인중개사(이인규)', 5000, 60),
 ('010-123-4567', '서울시 강남구 역삼동 21', '한백부동산공인중개사(김남조)', 75, 75),
 ('010-123-4567', '서울시 강남구 역삼동 22', '강남코리아공인중개사(기숙영)', 1000, 65),
 ('010-123-4567', '서울시 강남구 역삼동 23', '도원공인중개사(손석진)', 65, 65),
 ('010-123-4567', '서울시 강남구 역삼동 24', 'TODAY공인중개사(이인규)', 1000, 60),
 ('010-123-4567', '서울시 강남구 역삼동 25', '아셈타운공인중개사(임현옥)', 7000, 100),
 ('010-123-4567', '서울시 강남구 역삼동 26', '강남코리아공인중개사(기숙영)', 2000, 63),
 ('010-123-4567', '서울시 강남구 역삼동 27', '웰컴공인중개사(이영진)', 1000, 120),
 ('010-123-4567', '서울시 강남구 역삼동 28', '건우공인중개사(김상모)', 70, 70),
 ('010-123-4567', '서울시 강남구 역삼동 29', 'NB공인중개사(길주현)', 1000, 70),
 ('010-123-4567', '서울시 강남구 역삼동 30', '부동산네트워크공인중개사(황창문)', 8000, 55),
 ('010-123-4567', '서울시 강남구 역삼동 31', '도원공인중개사(손석진)', 68, 68),
 ('010-123-4567', '서울시 강남구 역삼동 32', '스타공인중개사(박정직)', 4000, 40),
 ('010-123-4567', '서울시 강남구 역삼동 33', '대청공인중개사(이선영)', 14000, 70),
 ('010-123-4567', '서울시 강남구 역삼동 34', '한백부동산공인중개사(김남조)', 10000, 100),
 ('010-123-4567', '서울시 강남구 역삼동 35', '스타공인중개사(박정직)', 6000, 50),
 ('010-123-4567', '서울시 강남구 역삼동 36', '정성공인중개사(정문식)', 100, 100),
 ('010-123-4567', '서울시 강남구 역삼동 37', 'TODAY공인중개사(이인규)', 3000, 100),
 ('010-123-4567', '서울시 강남구 역삼동 38', '미래공인중개사(김유철)', 1000, 85),
 ('010-123-4567', '서울시 강남구 역삼동 39', '한백부동산공인중개사(김남조)', 75, 75),
 ('010-123-4567', '서울시 강남구 역삼동 40', '강남코리아공인중개사(기숙영)', 1000, 63),
 ('010-123-4567', '서울시 강남구 역삼동 41', '친절한공인중개사(김천호)', 500, 65),
 ('010-123-4567', '서울시 강남구 역삼동 42', '강남코리아공인중개사(기숙영)', 3000, 75),
 ('010-123-4567', '서울시 강남구 역삼동 0', 'TODAY공인중개사(이인규)', 1000, 100),
 ('010-123-4567', '서울시 강남구 역삼동 1', 'TODAY공인중개사(이인규)', 11000, 60),
 ('010-123-4567', '서울시 강남구 역삼동 2', '열린공인중개사(강광수)', 5000, 65),
 ('010-123-4567', '서울시 강남구 역삼동 3', '미래공인중개사(김유철)', 3000, 95),
 ('010-123-4567', '서울시 강남구 역삼동 4', '한백부동산공인중개사(김남조)', 110, 110),
 ('010-123-4567', '서울시 강남구 역삼동 5', '강남코리아공인중개사(기숙영)', 15000, 70),
 ('010-123-4567', '서울시 강남구 역삼동 6', '열린공인중개사(강광수)', 1000, 85),
 ('010-123-4567', '서울시 강남구 역삼동 7', '한강공인중개사(김상헌)', 1000, 80),
 ('010-123-4567', '서울시 강남구 역삼동 8', '동하공인중개사(임성우)', 1000, 60),
 ('010-123-4567', '서울시 강남구 역삼동 9', '스타공인중개사(박정직)', 2000, 50),
 ('010-123-4567', '서울시 강남구 역삼동 10', 'HS강남공인중개사(김현수)', 1000, 96),
 ('010-123-4567', '서울시 강남구 역삼동 11', 'H공인중개사(김용만)', 15000, 70),
 ('010-123-4567', '서울시 강남구 역삼동 12', '도원공인중개사(손석진)', 65, 65),
 ('010-123-4567', '서울시 강남구 역삼동 13', '강남우리공인중개사(어정화)', 2000, 150),
 ('010-123-4567', '서울시 강남구 역삼동 14', '청록공인중개사(하순자)', 3000, 60),
 ('010-123-4567', '서울시 강남구 역삼동 15', '커피한잔공인중개사(손별)', 500, 67),
 ('010-123-4567', '서울시 강남구 역삼동 16', '강남코리아공인중개사(기숙영)', 15000, 60),
 ('010-123-4567', '서울시 강남구 역삼동 17', 'TODAY공인중개사(이인규)', 5000, 50),
 ('010-123-4567', '서울시 강남구 역삼동 18', '나무공인중개사(조민영)', 90, 90),
 ('010-123-4567', '서울시 강남구 역삼동 19', '한강공인중개사(김상헌)', 300, 80),
 ('010-123-4567', '서울시 강남구 역삼동 20', 'TODAY공인중개사(이인규)', 5000, 60),
 ('010-123-4567', '서울시 강남구 역삼동 21', '한백부동산공인중개사(김남조)', 75, 75),
 ('010-123-4567', '서울시 강남구 역삼동 22', '강남코리아공인중개사(기숙영)', 1000, 65),
 ('010-123-4567', '서울시 강남구 역삼동 23', '도원공인중개사(손석진)', 65, 65),
 ('010-123-4567', '서울시 강남구 역삼동 24', 'TODAY공인중개사(이인규)', 1000, 60),
 ('010-123-4567', '서울시 강남구 역삼동 25', '아셈타운공인중개사(임현옥)', 7000, 100),
 ('010-123-4567', '서울시 강남구 역삼동 26', '강남코리아공인중개사(기숙영)', 2000, 63),
 ('010-123-4567', '서울시 강남구 역삼동 27', '웰컴공인중개사(이영진)', 1000, 120),
 ('010-123-4567', '서울시 강남구 역삼동 28', '건우공인중개사(김상모)', 70, 70),
 ('010-123-4567', '서울시 강남구 역삼동 29', 'NB공인중개사(길주현)', 1000, 70),
 ('010-123-4567', '서울시 강남구 역삼동 30', '부동산네트워크공인중개사(황창문)', 8000, 55),
 ('010-123-4567', '서울시 강남구 역삼동 31', '도원공인중개사(손석진)', 68, 68),
 ('010-123-4567', '서울시 강남구 역삼동 32', '스타공인중개사(박정직)', 4000, 40),
 ('010-123-4567', '서울시 강남구 역삼동 33', '대청공인중개사(이선영)', 14000, 70),
 ('010-123-4567', '서울시 강남구 역삼동 34', '한백부동산공인중개사(김남조)', 10000, 100),
 ('010-123-4567', '서울시 강남구 역삼동 35', '스타공인중개사(박정직)', 6000, 50),
 ('010-123-4567', '서울시 강남구 역삼동 36', '정성공인중개사(정문식)', 100, 100),
 ('010-123-4567', '서울시 강남구 역삼동 37', 'TODAY공인중개사(이인규)', 3000, 100),
 ('010-123-4567', '서울시 강남구 역삼동 38', '미래공인중개사(김유철)', 1000, 85),
 ('010-123-4567', '서울시 강남구 역삼동 39', '한백부동산공인중개사(김남조)', 75, 75),
 ('010-123-4567', '서울시 강남구 역삼동 40', '강남코리아공인중개사(기숙영)', 1000, 63),
 ('010-123-4567', '서울시 강남구 역삼동 41', '친절한공인중개사(김천호)', 500, 65),
 ('010-123-4567', '서울시 강남구 역삼동 42', '강남코리아공인중개사(기숙영)', 3000, 75))